/*
  Colors:
  #0B3C5D prussian blue
  #328CC1 sky blue
  #D9B310 gold leaf
  #1D2731 ivory black
*/

.header {
  text-align: center;
}

.concerts {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}

.concert {
  display: grid;
  grid-template-columns: 1fr 9fr 4fr;
  border: 1px solid #D9B310;
}

/* DATE display */
.concert .date {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  background-color: #D9B310;
  padding: 5px;
  min-width: 124px;
}

.concert .date .day {
  font-size: 3em;
}

.concert .date .month {
  font-size: 1.5em;
}

.concert .date .year {
  font-size: .80em;
}

/* CONCERT display */

.concert .details {
  padding: 10px;
  position: relative;
  padding-bottom: 4vh; /* percentage of viewport height */
}

.concert .details .headliner {
  font-size: 2.69em;
}

.concert .details .price {
  display: block;
}

.concert .details .concert_website {
  position: absolute;
  right: 1vh;
  bottom: 1vh;
}

/* Notes dynamic display, needs jquery to work, of course  */

.concert .details .notes {
  overflow: hidden;
  height: 0;
  position: static;
}

.concert .details .notes.open {
  height: auto;
  padding-top: 1.5vh;
}

/* VENUE display */

.concert .venue {
  background-color: #0B3C5D;
  padding: 10px;
  position: relative;
  padding-bottom: 4vh; /* percentage of viewport height */
}

.concert .venue .venue_name {
  font-size: 1.69em;
}

.concert .venue .address {
  display: block;
}

.concert .venue .venue_website {
  position: absolute;
  right: 1vh;
  bottom: 1vh;
}

/* The next several sytles handle the background images */
.concert .details {
  position: relative;
  z-index: 1;
}

.concert .details .bg-image {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
  width: 33%;
  height: 100%;
}

.concert:nth-of-type(8n+1) .details .bg-image {
  background: url(drums.png) 66% 33%;
}

.concert:nth-of-type(8n+2) .details .bg-image {
  background: url(electricguitar.png) 66% 33%;
}

.concert:nth-of-type(8n+3) .details .bg-image {
  background: url(synth.png) 66% 33%;
}

.concert:nth-of-type(8n+4) .details .bg-image {
  background: url(bassguitar.png) 67% 33%;
}

.concert:nth-of-type(8n+5) .details .bg-image {
  background: url(guitar.png) 66% 33%;
}

.concert:nth-of-type(8n+6) .details .bg-image {
  background: url(keys.png) 66% 33%;
}

.concert:nth-of-type(8n+7) .details .bg-image {
  background: url(frenchhorn.png) 66% 33%;
}

.concert:nth-of-type(8n+8) .details .bg-image {
  background: url(bigstrings.png) 66% 33%;
}

/* tablets */
@media screen and (max-width: 871px){
  .concerts {
    font-size: 80%;
  }

  .concerts .concert .venue {
    max-width: 175.55px;
  }
}

/* mobiles */
@media screen and (max-width: 480px){
  .concerts {
    grid-gap: 20px;
  }

  .concert {
    grid-template-columns: 1fr;
  }
}
