/*
  Colors:
  #0B3C5D prussian blue
  #328CC1 sky blue
  #D9B310 gold leaf
  #1D2731 ivory black
*/

.venues {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.venues .venue {
  border: 1px solid #D9B310;
  padding: 5px 10px;
  position: relative;
  padding-bottom: 30px;
}

.venues .venue h3 {
  margin: 0;
  padding: 0;
}

.venues .venue .venue_address {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.venues .venue .venue_website {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

/* tablets */
@media screen and (max-width: 871px){
  .venues {
    grid-template-columns: 1fr;
  }
}
