{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-47851974-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-47851974-2');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tally Music</title>
    <link rel="stylesheet" href="{% static 'venue_styles.css' %}">
    <link rel="stylesheet" href="{% static 'concert_styles.css' %}">
    <link rel="stylesheet" href="{% static 'pagination_styles.css' %}">
    <link rel="stylesheet" href="{% static 'base_styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">

    <!-- Google AdSense script -->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-3256458901043044",
        enable_page_level_ads: true
      });
    </script>
  </head>

  <body>
    <header class="wrapper">
      <h1 class="logo">
        <a href={% url 'calendar' %}>
          <img class="logoimage" src="{% static 'logo.png' %}" />
        </a>
      </h1>
      <a class="burgernav-mobile">&#9776;</a>
      <nav class="site_nav">
        <ul>
          <li><a href="{% url 'calendar' %}">Upcoming</a></li>
          <li><a href="{% url 'concerts:past_events' %}">Past</a></li>
          <li><a href="{% url 'concerts:venues' %}">Venues</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
        </ul>
      </nav>
    </header>

    <div class="wrapper">
      {% block content %}
      {% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'mobile_menu.js' %}"></script>
    <script src="{% static 'concert_notes_toggle.js' %}"></script>

  </body>
</html>
