{% extends 'base.html' %}

{% block content %}
      <h3>About TallyMusic.net</h3>
        Want more live music in Tallahassee? Then we all have to show up!
        The upcoming events page will show you upcoming events in and around Tally,
        and you can check out past events as well.
      </p>
      <p>
        Want to help us get more shows added to the list? Just want to chat about
        music or web design? Shoot us a message at tallymusicwebmaster@gmail.com.
      </p>
      <p>
        <a href="{% url 'admin:index' %}">
          Authorized users can log in to the admin area here.
        </a>
      </p>
      <hr />
      <h3>Credits</h3>
      <p>TallyMusic is written and maintained by Danny Brown.</p>
      <p>Thanks to the below individuals and organizations:</p>
      <ul class="credits">
        <li>
          <a href="https://logomakr.com/" target="_blank">
            Logo designed by Danny Brown with the help of logomakr.com
          </a>
        </li>
        <li>
          <a href="https://goo.gl/Mkr6z1" target="_blank">
            Image "Piano (shallow)" via Rick Kimpel used under
            Creative Commons license
          </a>
        </li>
        <li>
          <a href="https://goo.gl/gdeTsx" target="_blank">
            Image "Guitar" via Andrew Imanaka used under Creative Commons
            license
          </a>
        </li>
        <li>
          <a href="https://goo.gl/8Jf1so" target="_blank">
            Image "Les contrebasses (grande salle de la Philharmonie de
            Paris)" via Jean-Pierre Dalbéra used under Creative Commons license
          </a>
        </li>
        <li>
          <a href="https://goo.gl/YHTVYh" target="_blank">
            Image "DSC_0682" (drums photo) via gomagoti used under
            Creative Commons license
          </a>
        </li>
        <li>
          <a href="https://goo.gl/1dmMk4" target="_blank">
            Image "@arturia, #analog, #synth, #film, #nikonF" via Patrick
            Shearer used under Creative Commons license
          </a>
        </li>
        <li>
          <a href="https://goo.gl/ZyMLmj" target="_blank">
            Image "Bass guitar" via Feliciano Guimarães used under
            Creative Commons license
          </a>
        </li>
        <li>
          <a href="https://goo.gl/G9qW4q" target="_blank">
            Image "French Horn." via Sadie Hernandez used under
            Creative Commons license
          </a>
        </li>
        <li>
          <a href="https://goo.gl/P9fvkT" target="_blank">
            Image "guitar" via teresaphillips1965 used under
            Creative Commons license
          </a>
        </li>
      </ul>
{% endblock %}
