{% extends 'base.html' %}

{% block content %}

  <!-- Variable header options -->
  <h1 class="header">
  {% if request.resolver_match.url_name == "calendar" %}
    Upcoming Events
  {% elif request.resolver_match.url_name == "past_events" %}
    Past Events
  {% elif request.resolver_match.url_name == "past_venue_events" %}
    Past Events at {{ concerts.0.venue }}
  {% elif request.resolver_match.url_name == "venue_events" %}
    Upcoming Events at {{ concerts.0.venue }}
  {%elif request.resolver_match.url_name == "date_filter" %}
    Found {{ concerts|length }} shows between {{ start_date|date:"M d, Y" }}
    and {{ end_date|date:"M d, Y" }}
  {% elif request.resolver_match.url_name == "search" %}
    Search for: {{ search_term }}
    <p class="smaller">
      Found {{ concerts|length }} result{{ concerts|pluralize }}.
    </p>
  {% endif %}
  </h1>

  <div id="datefilter-container">
    <p class="js-command">Find concerts by date &#8595;</p>
      <div id="datefilter">
        <form name="date-range-form" id="date-range-form"
              action="{% url 'concerts:date_filter' %}" method="GET">
          <label for="start">Start date:</label>
          <input type="date" id="start" name="start" required>
          <label for="end">End date:</label>
          <input type="date" id="end" name="end" required>
          <button type="submit" name="date_filter">Submit</button>
        </form>
      </div>
    </div>

  <!-- Top paginator -->
  {% include 'concerts/paginator.html' %}

  <!-- Concerts section  -->
  <div class="concerts">
    {% for concert in concerts %}
    <!-- testing without

    {% if forloop.counter % 8 == 0 %}
      {% include 'adsense.html' %}
    {% endif %}
    
    -->
      <div class="concert">
        <div class="date">
          <span class="day">{{ concert.date.day }}</span>
          <span class="month">{{ concert.date|date:'F' }}</span>
          <span class="year">{{ concert.date.year }}</span>
        </div>
        <div class="details">
          <div class="bg-image"></div>
          <span class="headliner">{{ concert.headliner }}</span>
          <br />
          <span class="support">{{ concert.support }}</span>
          <span class="price">{{ concert.price }}</span>
          {% if concert.notes %}
          <div class="notes open js-command">Click for more information &#8595;</div>
          <div class="notes">{{ concert.notes|linebreaksbr }}</div>
          <div class="notes js-command">Click to hide &#8593;</div>
          {% endif %}
          <span class="concert_website">
            <a href="{{ concert.website }}" target="_blank">
              Event Website &#9835;
            </a>
          </span>
        </div>
        <div class="venue">
          <span class="venue_name">
            <a href="{% url 'concerts:venue_events' slug=concert.venue.slug %}">
              {{ concert.venue.name }}
            </a>
          </span>
          <span class="address">
            <a href="https://www.google.com/maps?q={{ concert.venue.address }}"
               target="_blank">
              {{ concert.venue.address }}
            </a>
          </span>
          <span class="venue_website">
            <a href="{{ concert.venue.website }}" target="_blank">
              Venue Website &#9833;
            </a>
          </span>
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- Lower paginator -->
  {% include 'concerts/paginator.html' %}

  <!-- Link to past events from current events listing for venue filter  -->
  {% if request.resolver_match.url_name == "venue_events" %}
    <p>
      <a href="{% url 'concerts:past_venue_events' slug=concerts.0.venue.slug %}">
        See past events at {{ concerts.0.venue }}
      </a>
    </p>
  {% endif %}


{% endblock %}
